.container {
  max-width: 1024px;
  margin: 0 auto;
  gap: 32px;
  padding: 0 16px;
}

.container__image {
  width: 100%;
  height: auto;
  display: block;
}

.container__text {
  max-width: 830px;
  margin-top: 20px;
  margin-left: 0;
}

.container__title {
  font-size: 54px;
  line-height: 58px;
  margin-bottom: 12px;
}

.container__qoute {
  font-size: 24px;
  margin-bottom: 24px;
}
.container__footer {
  margin-top: 8px;
  display: block;
  text-align: right;
}

.container__description {
  font-size: 16px;
  line-height: 163%;
}
