.photo {
  display: grid;
  gap: 10px;
  justify-content: center;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.photo-grid {
  display: block;
  width: 100%; /*ajustarlo a mi necesidad*/
  height: auto;
}

/* Pantallas grandes (1280px o más) → 4 columnas */
@media (min-width: 1280px) {
  .photo {
    grid-template-columns: repeat(4, auto);
  }
}

/* Pantallas medianas (768px a 1279px) → 2 columnas */
@media (min-width: 768px) and (max-width: 1279px) {
  .photo {
    grid-template-columns: repeat(2, auto);
  }
}

/* Pantallas pequeñas (<768px) → 1 columna */
@media (max-width: 767px) {
  .photo {
    grid-template-columns: 1fr;
    justify-items: center; /* para centrar cada imagen */
    padding: 18px;
  }
}
