.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  color: white;
  margin: auto;
  max-width: 1000px;
  gap: 30px;
}

.place__title {
  font-size: 72px;
  line-height: 76px;
  margin: 0;
}

.place__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
  line-height: 100%;
}

.place__subtitle-profession {
  color: hsla(0, 0%, 67%, 1);
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 20px;
}

.place__image-mycity {
  width: 100%;
}

.place__image,
.place__image-mycity {
  width: 100%;
  box-shadow: 5px 5px 10px 0px hsla(0, 0%, 0%, 0.25);
  transition: background-color 0.3s;
  display: block;
}
.place__image:hover,
.place__image-mycity:hover {
  background-color: hsla(0, 0%, 0%, 0.5);
  mix-blend-mode: multiply; /* o usar un overlay si deseas efecto más suave */
}

.place__paragraphs {
  grid-row: 2/4;
  grid-column: 2;
}

.place__paragraph {
  font-size: 18px;
  line-height: 163%;
}

.place__button {
  background: linear-gradient(90deg, #0278fe 0.56%, #003a7b 100%);
  color: white;
  width: 289px;
  height: 48px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 4px;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  text-decoration: none;
  box-shadow: 5px 5px 10px 0px hsla(0, 0%, 0%, 0.25);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.place__button:hover {
  background: linear-gradient(
    90deg,
    rgba(2, 120, 254, 0.25) 0%,
    rgba(0, 58, 123, 0.25) 99.98%
  );
  box-shadow: 5px 5px 10px 0px hsla(0, 1%, 25%, 0.25);
}

@media screen and (max-width: 544px) {
  .place {
    display: block;
    padding: 16px;
  }

  .place__image,
  .place__image-mycity {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 16px;
  }
}
